.consultation {
    height: 400px;
    padding-top: 55px;
    h3 {
        text-align: center;
        font-size: 28px;
        line-height: 23px;
        font-weight: 400;
        color: #3a3a3a;
    }
    &__wrapper {
        position: relative;
        margin-top: 70px;
        height: 166px;
        border: 1px solid #898989;     
    }
    &__icon {
        z-index: 2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
        background-color: #fff;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__button {
        width: 204px;
        background-color: #fff;
        z-index: 2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -23px;
    }
    &__btn {
        width: 180px;
        height: 45px;
        display: block;
        margin: 0 auto;
    }
    &__form {
        padding-top: 67px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 820px;
        input {
            width: 270px;
            height: 47px;
            padding: 0 30px;
            background-color: #ffffff;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 50px;
            font-size: 13px;
            font-weight: 300;
            color: #101010;
        }
    }
}