.plan {
    height: 454px;
    background-color: #f3f3f3;
    padding-top: 51px;
    &__wrapper {
        padding: 29px 8px 0 8px;
        height: 340px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
    }
    &-item {
        width: 280px;
        height: 140px;
        padding-left: 11px;
        padding-right: 12px;
        &__icon {
            height: 57px;
            text-align: center;
        }
        &__title {
            margin-top: 7px;
            font-size: 16px;
            font-weight: 700;
            color: #ec644b;
            text-align: center;
        }
        &__subtitle {
            text-align: center;
            margin-top: 7px;
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
        }
    }
}