.title  {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
}
.divider {
    width: 148px;
    height: 1px;
    background-color: #ec644b;
    margin: 0 auto;
    margin-top: 20px;
}
.subtitle {
    margin-top: 17px;
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    color: #2e2e2e;
}